* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', 'Open Sans Light', sans-serif;
    line-height: 1.5;
    color: aquamarine;
    background-color: #e06565;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.24);
}

.main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 3vh;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70vw;
    max-width: 70vh;
    gap: 10px;
    align-items: center;
}

#color_picker {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#color_picker:hover {
    transition: 100ms;
    transform: scale(1.10);
}

#color_picker::-webkit-color-swatch-wrapper {
    padding: 1px;
}

#color_picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px;
}

.grid_item {
    transition: 2000ms;
    background-color: white;
    height: 100%;
    width: 100%;
}

.grid_item.active {
    transition: 500ms;
}

button {
    transition: 100ms;
    font-family: 'Nunito', 'Open Sans Light', sans-serif;
    color: aquamarine;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(126, 58, 58);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    transition: 100ms;
    transform: scale(1.10);
}

button:active {
    transition: 100ms;
    transform: scale(0.95);
    box-shadow: none;
    text-shadow: aquamarine 0px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.active {
    transition: 300ms;
    transform: scale(0.95);
    text-shadow: aquamarine 0px 0px 8px;
    box-shadow: none;
    box-shadow: rgb(127, 255, 212) 0px 0px 12px 4px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #642d2d;
    font-size: 18px;
    flex-shrink: 0;
    height: 60px;
    width: 100%;
}

.fa-github {
    color: #642d2d;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}